<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a id="instuser" th:href="@{/adduser}">添加用户</a>
<table>
    <tr>
        <td>用户编号</td>
        <td>用户名</td>
        <td>用户级别</td>
        <td>用户密码</td>
        <td>用户性别</td>
        <td>用户生日</td>
        <td>用户类型</td>
        <td>用户状态</td>
        <td>操作</td>
    </tr>
    <tr th:each="userReal:${userRealList}">
        <td th:text="${userReal.id}">用户编号</td>
        <td th:text="${userReal.username}">用户名</td>
        <td th:text="${userReal.realName}">用户级别</td>
        <td th:text="${userReal.password}">用户密码</td>
        <td th:text="${userReal.gender}==1?'男':'女'">用户性别</td>
        <td th:text="${userReal.birthday}">用户生日</td>
        <td th:text="${userReal.userType}">用户类型</td>
        <td th:text="${userReal.uresult}==1?'正常':'离职'">用户状态</td>
        <td><a th:href="@{'/del_user?id='+${userReal.id}}">删除</a>/<a th:href="@{'/upduser?id='+${userReal.id}}">修改</a></td>
    </tr>
</table>
</body>
</html>